<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>D3 test</title>
    <script type="text/javascript" src="https://d3js.org/d3.v4.js"></script>
    <!--  "style" tag seems to override those in "script" tag below.
        To test this, uncomment "width" in "style".
         -->
    <style type="text/css">
    .chart rect {
        fill: steelblue;
    }
    
    .axis text {
        /*  */
        fill: black;
        /* Without this, the text "Frequency" is not visible. */
        font: 10px sans-serif;
    }
    
    .axis path .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }
    </style>
</head>

<body>
    <!-- http://getbootstrap.com/css/#forms -->
    <form id="form">
        <div class="form-group">
            <b>Type in a keyword!</b>
            <label class="sr-only" for="q">Keyword</label>
            <input class="form-control" id="q" placeholder="Keyword" type="text" autofocus/>
        </div>
        <div>
            <svg class="chart"></svg>
        </div>
    </form>
    <script type="text/javascript">
    data = {
            "4": [{
                "Boylan, Geraldine B": [{
                    "total": 4
                }, {
                    "journals": {
                        "Dev Neurosci": 1,
                        "J Pediatr": 2,
                        "Med Eng Phys": 1
                    }
                }, {
                    "years": {
                        "2017": 4
                    }
                }]
            }, {
                "Dani, Carlo": [{
                    "total": 4
                }, {
                    "journals": {
                        "Ital J Pediatr": 1,
                        "J Matern Fetal Neonatal Med": 1,
                        "Neuropediatrics": 1,
                        "Transfusion": 1
                    }
                }, {
                    "years": {
                        "2017": 4
                    }
                }]
            }],
            "5": [{
                "Lee, Shoo K": [{
                    "total": 5
                }, {
                    "journals": {
                        "Acta Paediatr": 1,
                        "Am J Perinatol": 1,
                        "Arch Dis Child Fetal Neonatal Ed": 1,
                        "Br J Ophthalmol": 1,
                        "JAMA Pediatr": 1
                    }
                }, {
                    "years": {
                        "2017": 5
                    }
                }]
            }],
            "6": [{
                "Shah, Prakesh S": [{
                    "total": 6
                }, {
                    "journals": {
                        "Acta Paediatr": 1,
                        "Am J Perinatol": 2,
                        "Br J Ophthalmol": 1,
                        "J Matern Fetal Neonatal Med": 1,
                        "JAMA Pediatr": 1
                    }
                }, {
                    "years": {
                        "2017": 6
                    }
                }]
            }, {
                "Vento, Maximo": [{
                    "total": 6
                }, {
                    "journals": {
                        "Acta Paediatr": 2,
                        "Br J Ophthalmol": 1,
                        "Cochrane Database Syst Rev": 1,
                        "J Pediatric Infect Dis Soc": 1,
                        "Redox Biol": 1
                    }
                }, {
                    "years": {
                        "2017": 6
                    }
                }]
            }]
        }
        /*plot 1*/

    // plot 1 data
    var pl1 = []; // authors (x-axis) and number of publications (y-axis)
    for (i in data) {
        for (j of data[i]) {
            for (k in j) {
                var auPubs = parseInt(j[k][0]["total"]);
                pl1.push({
                    "au": k,
                    "auPubs": auPubs
                });
            }
        }
    }

    // determine number of ticks on Y-axis (number of publications)
    var pl1_auPubs_max = d3.max(pl1, function(d) { return d.auPubs });
    var yTicks;

    if (pl1_auPubs_max % 5 > 0) {
        yTicks = pl1_auPubs_max + 5 - (pl1_auPubs_max % 5);
    }
    else {
        yTicks = pl1_auPubs_max;
    }

    // bar chart (svg)
    // width, height and paddings
    var margin = {
            top: 20,
            right: 30,
            bottom: 30,
            left: 40
        },
        width = 960 - margin.left - margin.right,
        height = 500 - margin.top - margin.bottom;

    var x = d3.scaleBand() // Note this (changed from D3 v3)
        .domain(pl1.map(function(d) {
            return d.au;
        }))
        .rangeRound([0, width]) // Note this (changed from D3 v3)
        .paddingInner(.1); // Note this (changed from D3 v3)


    var y = d3.scaleLinear()
        .domain([0, d3.max(pl1, function(d) {
            return d.auPubs;
        })])
        .range([height, 0]);

    var chart = d3.select(".chart")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    var xAxis = d3.axisBottom()
        .scale(x);

    var yAxis = d3.axisLeft()
        .scale(y)
        .ticks(5)
        .tickFormat(d3.format("d")); // code from http://stackoverflow.com/a/37827517

    var bar = chart.selectAll(".bar")
        .data(pl1)
        .enter()
    
    bar.append("rect")
        .attr("class", "bar")
        .attr("x", function(d) {
            return x(d.au);
        })
        .attr("y", function(d) {
            return y(d.auPubs);
        })
        .attr("height", function(d) {
            return height - y(d.auPubs);
        })
        .attr("width", x.bandwidth())

    bar.append("text")
        .attr("x", function(d,i) {
            return x.bandwidth() * (i + 1); })
        .attr("y", function(d) {
            return y(d.auPubs) + 3;
        })
        .attr("dy", ".75em")
        .text(function(d) {
            return d.auPubs;
        });

    // chart.append("g")
    //     .attr("class", "y axis")
    //     .call(yAxis)
    //     .append("text")
    //     .attr("transform", "rotate(-90)")
    //     .attr("y", 6)
    //     .attr("dy", ".71em")
    //     .style("text-anchor", "end") // this can go into <style> --> ".axis text" as "text-anchor: end;"
    //     .text("Frequency");

    chart.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .style("text-anchor", "middle") // this can go into <style> --> ".axis text" as "text-anchor: middle;"
        .call(xAxis);

    // data for plot 2 (journals and number of publications)
    </script>
</body>

</html>
