/* allow map to fill viewport */

html,
body {
    /* height of these elements */
    height: 100%;
    /* no margin around these elements */
    margin: 0;
    /* disable scrollbars */
    overflow: auto;
    /* no padding within these elements */
    padding: 0;
}


#form {
    position: relative;
    /* distance from top edge of viewport */
    top: 10px;
    /* form's width */
    width: 100%;

    min-height: 100px;
}

#form .form-group {
    /* block-level flex container */
    display: flex;
    /* center container's content */
    justify-content: center;
}



/* stylize text box */

#q {
    /* override typeahead.js's transparent background */
    background-color: #ffffff !important;
    /* text box's width */
    width: 300px;
}

#title, #sub_title {
    /* block-level flex container */
    display: flex;
    /* center container's content */
    justify-content: center;
}

#title {
    font-size: 30px;
}

#sub_title, .extra {
    font-size: 20px;
}

/* stylize typeahead.js a la http://twitter.github.io/typeahead.js/css/examples.css */

.tt-menu {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 1px;
    max-height: 700px;
    overflow-y: auto;
    width: 300px;
}

.tt-suggestion.tt-cursor {
    background-color: #0097cf;
    color: #fff;
    cursor: pointer;
}

.tt-suggestion {
    margin: 0;
    padding: 6px 12px;
}

.barChartAxis text {
    fill: black;
}

.lineChartAxis text {
    fill: black;
}


/* Make bar chart axis invisible */

.barChartAxis .domain,
.barChartAxis .tick {
    opacity: 0;
}

svg {
    display: block;
    margin: left;
}

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

.ui-dialog-titlebar {
    background-color: #F9A7AE;
}

#dialog_about { 
   line-height: 150%;

    /*this is for a rare case of a word length exceeding dialog width.*/
    /*code from https://stackoverflow.com/a/10743974/7194743*/
   display: inline-block;
   word-break: break-word;
}

a {
   color: #2A5DB0 !important;
}

li {
    margin-top: 3px;
    margin-bottom: : 3px;
}

ul {
    list-style-position: outside;    
}